/* Page */

/* Header */
#page > header {}
#logo {
  margin: 0 10px;
}
#page > header > hgroup {
  margin: 0 10px;
}

/* Header and Main menu
------------------------------------------------*/
#header {
}

#main-menu{
width: 100%;
clear: both;
background: #3e3e3e;
height: 40px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 12px;
font-weight: bold;
border-radius: 4px;
text-transform: uppercase;
}

#main-menu a {
display: block;
color: #cacaca;
}

#main-menu ul, #main-menu ul li, #main-menu ul ul {
list-style: none;
margin: 0;
padding: 0;
}

#main-menu ul {
z-index: 597;
float: left;
}

#main-menu ul li {
float: left;
vertical-align: middle;
list-style-image: none !important;
}
#main-menu ul li a{
padding: 10px 14px;
}
#main-menu ul li.hover,
#main-menu ul li:hover {
position: relative;
z-index: 599;
cursor: default;
}

#main-menu ul ul {
visibility: hidden;
position: absolute;
top: 100%;
left: 0;
z-index: 598;
width: 160px;
}

#main-menu ul ul li {
float: none;
}
#main-menu ul ul li  a{
padding: 7px 15px;
}

#main-menu ul ul ul {
 top: 0px;
  left: 99%;
}

#main-menu ul li:hover > ul {
  visibility: visible;
}

#main-menu ul li.rtl ul {
  top: 100%;
  right: 0;
  left: auto;
}

#main-menu ul li.rtl ul ul {
  top: 0;
  right: 99%;
  left: auto;
}

#main-menu ul a:link,
#main-menu ul a:visited { 
color: #cacaca;
text-decoration: none; 
}
#main-menu ul a:hover,
#main-menu ul a.active,
#main-menu ul li.active-trail a { color: #fff; }

#main-menu li.expanded ul a, 
#main-menu li.leaf ul a { 
color: #474747;
}
#main-menu ul li.expanded { 
background:transparent url('../images/expanded-arrow.png') no-repeat center right; 
}
#main-menu li.expanded ul a:hover,
#main-menu li.expanded ul a.active,
#main-menu li.leaf ul a:hover,
#main-menu li.leaf ul a.active { 
color: #fff;
}

#main-menu ul ul li:hover,
#main-menu ul ul li.active-trail,
#main-menu ul ul li.last a {
 
}

#main-menu ul ul ul li.last a {
  border-bottom: none !important;
}

#main-menu ul ul li.first a {
  border-top: none;  
}


#main-menu ul li:hover,
#main-menu ul li.active-trail {

}

#main-menu ul ul li {
  background: #303030;
  padding-top: 1px;
}

#main-menu ul ul li.expanded {
  background: #303030 url('../images/expanded-arrow-right.png') no-repeat center right;
}

#main-menu ul ul a:link,
#main-menu ul ul a:visited { 
color: #cacaca;
}

#main-menu ul ul a {
  border-bottom: 1px solid #585858;
}

#main-menu ul ul ul a {
  border-bottom: 1px solid #585858;
}

/* Header Top
------------------------------------------------*/
#header-top {
margin: 0 auto;
padding: 0;
width: 100%;
}
#header-top #logo {
float: left;
width: 300px;
margin-top: 10px;
}
#header-top #site-slogan {
  margin: 0;
  color: #959595;
  text-shadow: 1px 1px #fff;
}
#header-social{
float: right;
padding: 0;
margin-top: 23px;
}
#header-social li{
float: left;
list-style: none;
display: inline;
margin-right: 10px;
}
#header-top .search-box{
float: right;
padding: 0;
margin: 0;
margin-top: 22px;
}
#header-top .search-box .form-text{
color: #a7a7a7;
width: 160px;
height: 22px;
background: #fff url(../images/search.png) no-repeat 3px 4px;
padding: 2px 0px 2px 24px;
border-radius: 0;
}
#header-top .search-box .form-submit{
background: #767676;
margin: 0;
border-radius: 0;
color: #fff;
text-shadow: none;
padding: 4px 7px;
}
#header-top .search-box .form-submit:hover{
background: #676767;
}


#site-name {}
#site-name a    {}
#site-name a:visited {}
#site-name a:hover   {}
#site-name a:focus   {}
#site-name a:active  {}
#site-slogan {}


/* AT Menu bar */
#menu-bar {width: 100%;}
#menu-bar .block {width: 100%; margin-left: 0px;}
#menu-bar, #menu-bar ul li {background-color: #000;}
#menu-bar ul li a:link, #menu-bar ul li a:visited {background-color: #000; color: #FFF; text-decoration: none;}
#menu-bar ul li a:hover, #menu-bar ul li a:active, #menu-bar ul li a:focus {color: #000; background-color: #CCC;}
#menu-bar ul li:first-child a {border-left: medium none;}
#menu-bar ul {list-style-type: none; margin: 0; padding-left: 0;}
#menu-bar ul li {float: left; width: 15.5%; min-width: 9.5em;}
#menu-bar ul li a {display: block; text-align: left; width: 100%; padding: 0.16em 0px 0px 3px; border-left: 1px solid #FFF; font-weight: bold; overflow: hidden;}



#columns {
	background: #f4f4f4;
	width: 97.80%;
	padding: 0 10px 0 10px;
	float: left;
	margin-top: 8px;
	border-radius: 7px;
	border: 1px solid #dbdbdb;
}
#content-column {width: 100%;}
#content-column .content-inner {padding: 0 10px 0 10px;}

/* Page title */
h1#page-title {
}

/* main post content
------------------------------------------------*/
#main {
  display: inline;
  margin: 0;
}

/* Regions */
.region-leaderboard {}
.region-header {}
.region-secondary-content {}
.region-highlighted {}
.region-content-aside {}
.region-tertiary-content {}
.region-footer {}

/* Sidebars */
.sidebar {}
.region-sidebar-first {}
.region-sidebar-first h2, .region-sidebar-second h2 {
font-family: 'Ubuntu Condensed', sans-serif;
}
.region-sidebar-first h2.block-title, .region-sidebar-second h2.block-title {
font-family: 'Ubuntu Condensed', sans-serif;
}
.region-sidebar-first a, .region-sidebar-second a {
color: #636363;
}
.region-sidebar-first a:hover, .region-sidebar-second a:hover {
color: #0080aa;
}
.region-sidebar-first .block, .region-sidebar-second .block {
background: #ededee;
border-radius: 5px;
padding: 0px 0px 4px 6px;
}

.region-sidebar-first  ul, .region-sidebar-second ul{
margin: 0;
padding: 0;
}

.region-sidebar-first ul.menu, .region-sidebar-second ul.menu {
margin: 0;
padding: 0;
}

.region-sidebar-first li, .region-sidebar-second li {
list-style: none;
list-style-image: none;
background: url(../images/sidebar-arrow.png) no-repeat left center;
border-bottom: 1px dotted #d4d2d2;
padding: 4px 0 4px 17px;
}


/* Node / post content
------------------------------------------------*/
.title{
font-family: 'Ubuntu Condensed', sans-serif;
color: #000;
}
.title a{
color: #000;
}
h2.title a{
font-size: 18px;
margin: 5px 0;
font-weight: normal;
}

.submitted{
background: #dfdddd;
padding: 4px 9px;
border-radius: 4px;
color: #383838;
text-shadow: 1px 1px #fff;
clear: both;
display: block;
margin-bottom: 2px;
}
#main .content {
color: #7e7e7e;
}
#main .content p{
line-height: 20px;
}

#main .content h1{
font-size: 26px;
line-height: 1.3; 
margin: 10px 0 6px 0;
font-family: 'Ubuntu Condensed', sans-serif;
color: #222222;
}
#main .content h2{
font-size: 22px;
line-height: 1.2; 
margin: 8px 0 5px 0;
font-family: 'Ubuntu Condensed', sans-serif;
color: #222222;
}
#main .content h3{
font-size: 18px;
line-height: 1.2; 
margin: 5px 0 4px 0;
font-family: 'Ubuntu Condensed', sans-serif;
color: #222222;
}
#main .content h4{
font-size: 14px;
font-weight: bold;
margin: 4px 0 3px 0;
font-family: 'Ubuntu Condensed', sans-serif;
color: #222222;
}
#main .content h5{
font-size: 12px;
font-weight: bold;
margin: 4px 0 4px;
font-family: 'Ubuntu Condensed', sans-serif;
color: #222222;
}
#main .content h6{
font-size: 10px;
font-weight: bold;
margin: 3px 0 3px;
font-family: 'Ubuntu Condensed', sans-serif;
color: #222222;
}
.links{
color: #000;
margin-top: 10px;
font-size: 10px;
}
.links li a{
background: #d3d1d1;
padding: 4px 5px;
border-radius: 4px;
color: #383838;
text-shadow: 1px 1px #fff;
font-weight: normal;
}
.links li a:hover{
color: #1451ad;
}


#main table{
background: #ececec;
border: 1px solid #bbbbbb;
}

#main th {
background: #dbdbdb;
padding: 5px 4px;
text-shadow: 1px 1px #fff;
border-right: 1px solid #c8c7c7;
}
#main td {
background: #ebebeb;
color: #747474;
text-align: left;
padding-left: 4px;
border-right: 1px solid #c8c7c7;
border-bottom: 1px solid #c8c7c7;
}



/* Footer - the main page footer only */
#page > footer {}

/* Feed icons */
#feed-icons {}
#feed-icons .feed-icon {}
#feed-icons .feed-icon img {}
#feed-icons a.feed-icon {}

/* Search results list. */
.search-results {}
.search-results .search-result {}
.search-results .title {}
.search-results .search-snippet-info {}
.search-results p {}
.search-results .search-snippet {}
.search-results .search-info {}

span.search-info-type {}
span.search-info-user {}
span.search-info-date {}
span.search-info-comment {}
span.search-info-upload  {}

/* Aggregator */
.feed-item {}
.feed-item header {}
.feed-item-title {}
.feed-item-meta {}
.feed-item .content {}
.feed-item footer {}
.feed-source {}
.feed-description {}

/* Maintenance page */
.maintenance-page #skip-link {
  position: absolute;
  top: -99em;
}
.maintenance-page footer {
  margin: 10px 0 0;
}
.maintenance-page footer a {
  text-decoration: none;
  color: #ccc;
}

/* Prevent overflowing content */
header[role=banner],
.content-inner,
.nav,
.region-sidebar-first,
.region-sidebar-second,
.region-secondary-content,
.region-tertiary-content,
.region-footer {
  overflow: visible;
  word-wrap: break-word;
}


/* Footer
------------------------------------------------*/
#footer {
/* clear: both; */
position: relative;
width: 100%;
color: #444444;
text-shadow: 1px 1px #fff;
}
#footer a{
color: #676767;
text-decoration: none;
}
#footer a:hover{
color: #000;
text-decoration: none;
}
#footer h2{
color: #000;
font-family: 'Ubuntu Condensed', sans-serif;
font-weight: bold;

}
#footer ul {
margin: 0;
padding: 0;
}
#footer li {
list-style: none;
list-style-image: none;
background: url(../images/sidebar-arrow.png) no-repeat left center;
border-bottom: 1px dotted #464646;
padding: 4px 0 4px 17px;
}
.first-footer{
width: 23.4%;
float: left;
}
.second-footer{
width: 23.4%;
float: left;
margin-left: 20px;
}
.third-footer{
width: 23.4%;
float: left;
margin-left: 20px;
}
.fourth-footer{
width: 23.4%;
float: left;
margin-left: 20px;
}
#copyright{
border-top: 1px dashed #656565;
padding-top: 4px;
color: #949494;
margin-bottom: 10px;
}

/* scroll to top
-------------------------------------------------------------- */
.backtotop { 
background:url(../images/goup.png) no-repeat; 
width:53px; 
height:53px; }



/* Admin Tabs
--------------------*/

.tabs-wrapper {
  border-bottom: 1px solid #b7b7b7;
  margin: 0 0 5px 0;
}

ul.primary {
  border: none;
  margin: 0;
  padding: 0;
}

ul.primary li a {
  background: none;
  border: none;
  display: block;
  float: left;
  line-height: 1.5385em;
  margin: 0;
  padding: 0 1em;
  border-radius: 4px 4px 0 0;
  margin-right: 5px;
}

ul.primary li a:hover, ul.primary li a.active {
  background: #666;
  border: none;
  color: #fff;
}

ul.primary li a:hover {
  background: #888;
  text-decoration: none;
}

ul.secondary {
  background: #666;
  border-bottom: none;
  clear: both;
  margin: 0;
  padding: 0;
}

ul.secondary li {
  border-right: none;
}

ul.secondary li a, ul.secondary li a:link {
  border: none;
  color: #ccc;
  display: block;
  float: left;
  line-height: 1.5385em;
  padding: 0 1em;
}

ul.secondary li a:hover, ul.secondary li a.active {
  background: #888;
  color: #fff;
  text-decoration: none;
}

ul.secondary a.active {
  border-bottom: none;
}


/* Tabs and Tags
------------------------------------------------*/

.field-name-field-tags {
  margin: 0 0 10px 0;
}
.field-name-field-tags a{
display: inline-block;
background: url(images/tag.png) no-repeat;
padding: 0px 8px 0 16px;
height: 22px;
color: #6c6c6c;
text-shadow: 1px 1px #fff;
border-radius: 2px;
font-size: 10px;
}
.field-name-field-tags a:hover{
color: #205194;
}
.field-name-field-tags .field-item {
  margin: 0 1em 0 0;
}

.field-name-field-tags div {
  display: inline;
}

#main .field-label{
color: #000;
}
#main .field-items .field-item{
}


/* Profile
------------------------------------------------*/
.profile {
  margin: 1.5385em 0;
}

.profile dd {
  margin-bottom: 1.5385em;
}

.profile h3 {
  border: none;
}

.profile dt {
  margin-bottom: 0;
}

.password-parent {
  width: 36em;
}


/* Forum
------------------------------------------------*/
.field-name-taxonomy-forums div{
display: inline;
margin-top: 4px;

}
.field-name-taxonomy-forums .field-items{

}
#forum .title{
font-size: 16px;
}
#forum .submitted{
font-size: 12px;
font-family: Lucida Grande, Verdana, Arial, sans-serif;
background: transparent;
padding: 0;
}
#forum .container {
background: #a1a1a1;
color: #fff;
}
#forum .container a{
color: #000;
font-weight: bold;
}
#forum div.indent {
margin-left: 2px;
}
.forum-starter-picture{
float: left;
padding: 4px;
border: 1px solid #d9d9d9;
margin: 5px 7px 5px 0;
}
#forum th{
background: #434343;
text-shadow: none;
color: #fff;
}
#forum th a{
color: #fff;
}

#forum td.forum .icon, #forum .icon div{
background: url(images/no-new-posts.png) no-repeat;
width: 35px;
height: 35px;
}

#forum .name a{
font-family: 'Ubuntu Condensed', sans-serif;
font-size: 16px;
}


/**********************************************************
 * Font Theme Settings
 **********************************************************/
 
/* font size */
.font-size-10 {
  font-size: 62.50%;
}

.font-size-11 {
  font-size: 68.75%;
}

.font-size-12 {
  font-size: 75%;
}

.font-size-13 {
  font-size: 80.00%;
}

.font-size-14 {
  font-size: 87.50%;
}

.font-size-15 {
  font-size: 93.75%;
}

.font-size-16 {
  font-size: 100%;
}

.font-size-17 {
  font-size: 106.25%;
}

.font-size-18 {
  font-size: 112.50%;
}

.font-size-19 {
  font-size: 118.75%;
}

.font-size-20 {
  font-size: 125%;
}

.font-size-21 {
  font-size: 131.25%;
}

.font-size-22 {
  font-size: 137.50%;
}

.font-size-23 {
  font-size: 143.75%;
}

.font-size-24 {
  font-size: 150%;
}

/* font family */
.font-family-sans-serif-sm,
.font-family-sans-serif-sm .form-text {
  font-family: Arial, Helvetica, "Nimbus Sans L", FreeSans, sans-serif;
}

.font-family-sans-serif-lg,
.font-family-sans-serif-lg .form-text {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.font-family-serif-sm,
.font-family-serif-sm .form-text {
  font-family: Garamond, Perpetua, "Nimbus Roman No9 L", "Times New Roman", serif;
}

.font-family-serif-lg,
.font-family-serif-lg .form-text {
  font-family: Baskerville, Georgia, Palatino, "Palatino Linotype", "Book Antiqua", "URW Palladio L", serif;
}

.font-family-myriad,
.font-family-myriad .form-text {
  font-family: "Myriad Pro", Myriad, "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.font-family-lucida,
.font-family-lucida .form-text {
  font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, Geneva, sans-serif;
}
