/**
 * Use this file to conditionally override styles for devices.
 * If you adjust the media queries in the theme settings you should
 * adjust them here so they match.
 */

/* Smartphone portrait */
@media only screen and (max-width:320px) {
#header-social{
float: left;
margin-left: -250px;
margin-top: 90px;
}
#header-social li{
float: left;
margin-right: 5px;
}
#header-top .search-box{
float: left;
margin-left: -315px;
margin-top: 55px;
}
#content {
width: 25%;
}
#page-title {
width: 300px;
}
.first-footer{
width: 100%;
}
.second-footer{
width: 100%;
}
}

/* Smartphone landscape */
@media only screen and (min-width:321px) and (max-width:480px) {
#header-social{
float: left;
margin-left: -250px;
margin-top: 90px;
}
#header-social li{
float: left;
margin-right: 5px;
}
#header-top .search-box{
float: left;
margin-left: -315px;
margin-top: 55px;
}
#page-title {
width: 470px;
}
.first-footer{
width: 100%;
}
.second-footer{
width: 100%;
}
}

/* Tablet portrait */
@media only screen and (min-width:481px) and (max-width:768px) {
#header-social{
float: left;
margin-left: -45px;
margin-top: 56px;
}
#header-social li{
float: left;
margin-right: 5px;
}
#header-top .search-box{
float: left;
margin-left: -315px;
margin-top: 55px;
}
#content {
width: 60%;
}
#page-title {
width: 650px;
}
.first-second-wrapper {
	width: 49.5%;
	float: left;
}
.first-footer{
	width: 49.5%;
}
.second-footer{
	width: 49.5%;
}
.third-fourth-wrapper {
	width: 49.5%;
	float: left;
}
}

/* Tablet landscape */
@media only screen and (min-width:769px) and (max-width:1024px) {
#header-social{
float: left;
}
#header-social li{
float: left;
}
#header-top .search-box{
float: left;
}
}

/* Standard layout */
@media only screen and (min-width:1025px) {
}
