body {
	background-color: #669966;
	color: #003300;
}

#page {
  background: #669966;
}

#main-menu{
background: #006600;
}

.region-sidebar-first .block, .region-sidebar-second .block {
background: #669966;
}

#columns {
	background: #CCCC99;
	border: 1px solid #dbdbdb;
}
